
body{
    margin: 0px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(/images/Tituloalt.png);
    background-size: 210px;
    background-repeat: no-repeat;
    background-position-x: 125px;
    background-position-y: 35px; 

}

.header__logoImg{
    width: 100px;
    margin: 10px 0 0 10px;
}

.header__logoTitulo{
    width: 210px;
    margin: 20px 0 0 10px;
    transition: opacity 1s;
    
}
.header__logoTitulo:hover{
    transition: all 1s;
    opacity: 0;
    
    
    
}
.link__img{
    width: 100px;
}
.link__img:hover{
    width: 150px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link{
    margin-right: 40px;
}

.Banner{
    display: flex;
    
    justify-content: flex-end;
    margin-top: 10px; 
    height: 550px;
    background-image: url(/images/Banner-bg.png);
    

 
}
.Banner__img{
    margin: 400px 0 0 -500px;
    width: 325px;
}
.Banner__img:hover{
    width: 300px;
     
}
.nav{
    margin-top: 15px;
}

